@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   .pause {
     animation-play-state: paused;
   }
}

* {
  color: white;
}

#root {
  /* color-scheme: light dark; */
  width: 100%;
}

body {
  overflow: hidden;
  background-color: rgba(36, 40, 59, 0.6);
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgb(36, 40, 59);
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: rgb(36, 40, 59);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(26, 30, 49);
}
