@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 1px solid red;   */
  color: white;
}

:root {
  /* color-scheme: light dark; */
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  height:95%;
  background-color: rgba(36, 40, 59, 0.6);
}
