@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   .pause {
     animation-play-state: paused;
   }
}

* {
  color: white;
}

#root {
  /* color-scheme: light dark; */
  width: 100%;
}

body {
  overflow: hidden;
  background-color: rgba(36, 40, 59, 0.6);
}
